@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Default style */



/* buttons in the tab bar */

.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-newtab-button,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarbutton,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarpaletteitem > toolbarbutton {
	appearance: none !important;
	-moz-appearance: none !important;
	border: 0 none !important;
	-moz-border-top-colors: none !important;
	-moz-border-right-colors: none !important;
	-moz-border-bottom-colors: none !important;
	-moz-border-left-colors: none !important;
	border-radius: 0;
	-moz-border-radius: 0;
	border-top: 1px solid ThreeDShadow !important;
	background: -moz-dialog !important;
  background-color: rgb(23,23,23) !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-newtab-button:hover,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarbutton:hover {
	background: ThreeDHighlight !important;
	  background-color: rgba(74,74,74,1) !important;
}

/* for Mac OS X */
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-newtab-button
  .toolbarbutton-icon {
	-moz-border-image: none !important;
	border-image: none !important;
	border: 0 none !important;
	margin: 0 !important;
	padding: 0 !important;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]) .arrowscrollbox-scrollbox {
	margin: 0 !important;
	padding: 0 !important;
}

/* Support customizable tab bar */
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarpaletteitem > toolbarbutton {
	box-flex: 1;
	-moz-box-flex: 1;
}
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > *:not(toolbarpaletteitem) {
	-moz-border-top-colors: none !important;
	border-top: 1px solid ThreeDShadow !important;
}
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > *:first-child,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > *:first-child[hidden="true"] + *:not(toolbarpaletteitem),
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > #private-browsing-indicator:first-child + *:not(toolbarpaletteitem), /* for Linux */
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > .treestyletab-toolbar-inner-box {
	-moz-border-top-colors: none !important;
	border-top: 0 none !important;
}


.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-newtab-button,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarbutton,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarpaletteitem > toolbarbutton {
	background-image: none !important;
	margin: 0 !important;
	padding: 0 2px !important;
	width: 100% !important;
	min-height: 0 !important;
	height: 16px !important;
}


/* new-tab button next to the last tab */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox .tabs-newtab-button {
	border: 0 none !important;
	border-top: 1px solid ThreeDShadow !important;
	border-bottom: 1px solid ThreeDShadow !important;
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
}
.tabbrowser-tabs[treestyletab-style~="vertigo"][treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox .tabs-newtab-button {
	border-style: none !important;
}


/* Make tab itself clickable */
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab {
	pointer-events: auto;
}


/* Disable background tab separator introduced by Australis */
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[beforeselected]::after,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[beforehovered]::after,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[afterselected]::before,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[afterhovered]::before,
/* http://mxr.mozilla.org/mozilla-central/source/browser/themes/shared/tabs.inc.css#262 */
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])[movingtab]
  .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]):not([overflow])
  .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {
	/* hide it anyway!! */
	content: none;
	display: none;
	visibility: collapse;
}

/* Show tab favicon in vertical tab bar always */
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab:not([busy])
  .tab-icon-image:not([src]):not([pinned]) {
	display: -moz-box;
}

/* buggy new tab creation hotfix */
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([selected="true"]) {

	margin: 0 !important;
	/*padding: 0 0.2em !important;*/
}

/* personal tab sizing */
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabbrowser-tab,
	.tabbrowser-tabs[treestyletab-mode="vertical"] .tabbrowser-tab:not([selected="true"])
  {
    min-height: 16px !important;
    max-height: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"] .tab-stack
  {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    min-height: 16px !important;
    max-height: none !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"] .tab-throbber,
	.tabbrowser-tabs[treestyletab-mode="vertical"] .tab-icon-image
  {
    margin: -1px 2px 0 0 !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-tab-contents-inverted="true"] .tab-throbber,
	.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-tab-contents-inverted="true"] .tab-icon-image
  {
    margin: -1px 0 0 2px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style]) .tab-stack
  {
    margin-top: -2px !important;
    margin-bottom: 2px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style]) .tab-throbber,
	.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style]) .tab-icon-image
  {
    margin-top: 0 !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"] .tab-content
  {
    margin-top: 0 !important;
    margin-left: 5px !important;
    margin-bottom: 0 !important;

  }

  .tabbrowser-tabs[treestyletab-mode="vertical"] .treestyletab-counter-container
  {
    margin-top: -1px !important;
    -moz-margin-start: 1px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"] .tab-close-button
  {
    margin: 0 -1px 0 0 !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-tab-contents-inverted="true"] .tab-close-button
  {
    margin: 0 0 0 -1px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style] .tab-close-button
  {
    margin: -1px -5px 0 0 !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-tab-contents-inverted="true"] .tab-close-button
  {
    margin: -1px 0 0 -5px !important;
  }
	/* Twisty */
  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-twisty-style^="modern"] .tabbrowser-tab:not([pinned="true"]) .treestyletab-twisty
  {
    margin: 0 -2px 0 -7px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-twisty-style^="modern"][treestyletab-tab-contents-inverted="true"] .tabbrowser-tab:not([pinned="true"]) .treestyletab-twisty
  {
    margin: 0 -7px 0 -2px !important;
  }

	/* Metal theme */
  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="metal"] .tabbrowser-tab
  {
    margin-top: -3px !important;
    margin-bottom: -3px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="metal"] .tab-content
  {
/*[[legacy_margins]]*/;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="metal"] .tab-text
  {
    margin-top: -3px !important;
    margin-bottom: -3px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="metal"] .tab-close-button
  {
    margin: 0 -3px 0 -2px !important;
    padding: 0 !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="metal"][treestyletab-tab-contents-inverted="true"] .tab-close-button
  {
    margin: 0 -2px 0 -3px !important;
  }
	/* Twisty */
  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="metal"][treestyletab-twisty-style^="modern"] .tabbrowser-tab:not([pinned="true"]) .treestyletab-twisty
  {
    margin: 0 -2px 0 -6px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="metal"][treestyletab-twisty-style^="modern"][treestyletab-tab-contents-inverted="true"] .tabbrowser-tab:not([pinned="true"]) .treestyletab-twisty
  {
    margin: 0 -6px 0 -2px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="metal"][treestyletab-twisty-style^="osx"] .tabbrowser-tab:not([pinned="true"]) .treestyletab-twisty
  {
    margin: 0 -4px 0 -1px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="metal"][treestyletab-twisty-style^="osx"][treestyletab-tab-contents-inverted="true"] .tabbrowser-tab:not([pinned="true"]) .treestyletab-twisty
  {
    margin: 0 -1px 0 -4px !important;
  }

	/* Sidebar theme */
  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="sidebar"] .tab-throbber,
	.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="sidebar"] .tab-icon-image
  {
    margin-bottom: -2px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="sidebar"] .treestyletab-counter-container
  {
    margin-top: 0 !important;
    margin-bottom: -1px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="sidebar"] .tab-close-button
  {
    margin: 0 -3px 0 0 !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-tab-contents-inverted="true"] .tab-close-button
  {
    margin: 0 0 0 -3px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="sidebar"][treestyletab-twisty-style^="modern"] .tabbrowser-tab:not([pinned="true"]) .treestyletab-twisty
  {
    margin: 0 -1px -1px -9px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="sidebar"][treestyletab-twisty-style^="modern"][treestyletab-tab-contents-inverted="true"] .tabbrowser-tab:not([pinned="true"]) .treestyletab-twisty
  {
    margin: 0 -9px -1px -1px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="sidebar"][treestyletab-twisty-style^="osx"] .tabbrowser-tab:not([pinned="true"]) .treestyletab-twisty
  {
    margin-right: -4px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="sidebar"][treestyletab-twisty-style^="osx"][treestyletab-tab-contents-inverted="true"] .tabbrowser-tab:not([pinned="true"]) .treestyletab-twisty
  {
    margin-left: -4px !important;
  }

	/* Fix too small tabs height in horizontal tab bar */
  .tabbrowser-tabs[treestyletab-mode="horizontal"] .tabbrowser-tab .tab-content
  {
    padding-top: 3px !important;
    padding-bottom: 4px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="horizontal"] .tabbrowser-tab[treestyletab-parent] .tab-content
  {
    padding-top: 1px !important;
    padding-bottom: 2px !important;
  }

	/* Default theme and horizontal tab bar, only child tabs */
  .tabbrowser-tabs[treestyletab-mode="horizontal"]:not([treestyletab-style]) .tabbrowser-tab[treestyletab-parent]
  {
    padding-top: 0 !important;
    padding-bottom: 1px !important;
  }

  .tabbrowser-tabs[treestyletab-mode="horizontal"]:not([treestyletab-style]) .tabbrowser-tab[treestyletab-parent] .tab-content
  {
    margin-top: -2px !important;
  }

	/* Informational Tab extension */
  :root[informationaltab-thumbnail-enabled="true"][informationaltab-thumbnail-position="1"] .informationaltab-thumbnail-container
  {
    margin-top: -1px !important;
    margin-right: 4px !important;
  }